.card {
    border: none;
    background-color: #252836;
    color: #fff;
    border-radius: 12px
}

.user-timing {
    right: 9px;
    bottom: 9px;
    color: #fff
}

.views-content {
    color: #606271
}

.views {
    font-size: 12px
}

.days-ago {
    color: #606271
}
a {
    text-decoration: none;
     &:hover{
         #card{
            border: 2px solid black;
         }
         #title{
             text-decoration: underline;
         }
        
    }
}
