@import '../../../styles/variables';

.card-text-color {
    color: $card-text-color;
}

.views {
    font-size: 12px;
}

a {
    text-decoration: none;
     &:hover{
         #card{
            border: 2px solid $card-border-color;
         }
         #title{
             text-decoration: underline;
         }
        
    }
}
